html,
body {
	background-color: white;
	color: black;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: #0a0a0a;
		color: white;
		color-scheme: dark;
	}
}

.pokemon-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.card {
	border: 1px solid white;
	padding: 10px;
	width: 150px;
}
